# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
name = Igor Kaplounenko
email = igor@nervanasys.com
[push]
	default = simple
[core]
	editor = vim
